{% extends "base.html" %}

{% block nav %}
    
    <li class="nav-item ">
        <a class="nav-link" href="javascript:void(0)">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="javascript:void(0)">
            <i class="material-icons">video_library</i>
            <p>Tutoriais</p>
        </a>
    </li>

{% endblock %}


{% block content %}

    <form class="form-signin" action="{{ url_for('simplelogin.login') }}" method="post">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h2 class="form-signin-heading">Please sign in</h2>

        {{ form.csrf_token }}

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="username" required autofocus autocomplete="off">
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="password" required>

        <div class="checkbox">
            <label><input type="checkbox" value="remember-me"> Remember me</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>

{% endblock %}
